*{
    padding: 0px;
    margin: 0px;
    color: white;
    box-sizing: border-box;
}

html{
    background-color: black;
}

.main{
    background-color: black;
    
}


.Top-bar{
    padding: 10px;
    margin: 0px;
    background: #312d2d;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -30px;
    margin-left: 140px;
    margin-right: 140px;
    }
.Top-bar button{
    
    background-color: #2e312e;
    border: 1px solid rgb(149, 160, 149);
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    
}

.Top-bar h2{
    margin-left: 20px ;
    font-size: 30px;
}
.wallpaper{
    background-image: url("https://images.unsplash.com/photo-1609744562331-4ff38fae6854?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=890&q=80");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content:center;
    font-size: 30px;
}

.container{
    display: flex;
    justify-content: space-around;
    
    
}

.container .Education{
  
    background-color: rgb(222 78 0);
    border: black solid;
    padding: 20px;
    
    height: 380px;
    width: 280px;
    text-align: center;
    position: relative;
    top: -40px;
    
}


.container .Knowledge{
    background-color: rgb(10 152 110);
    border: black solid;
    padding: 20px;
    margin: 10px;
    height: 360px;
    width: 280px;
    text-align: center;
    position: relative;
    top: -40px;
   
}


.container .Skills{
    background-color: rgb(250, 145, 8);
    border: black solid;
    padding: 20px;
    margin: 10px;
    height: 360px;
    width: 280px;
    text-align: center;
    position: relative;
    top: -40px;
}

.text-container{
    text-align: left;
    padding: 20px;
    padding-left: 0px;
    padding-right: 5px;

}

li{
    margin-left: 20px;
}

.Experience{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    height: 450px;
    justify-content: center;
    
    
}

.wrap-left{
    background-image: url(https://images.unsplash.com/photo-1561400328-93b30737bbda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    height: 444px;
    width: 450px;
    background-size: cover;
    border:  solid rgb(18, 39, 107);
   
    
}

.wrap-right{
    margin-right: 0px;
    padding-left: 30px;
    padding-right: 20px;
    
    background-color: rgb(17, 17, 17);
    
}

.right-title{
    padding: 20px;
    text-align: center;
    
}


.Recent-Projects {
    text-align: center;
    margin: 0px;
    margin-top: 100px;
    padding: 20px;
    background-color: rgb(27, 25, 25);
    
}


.Recent-text{
    margin:30px;
   
}

.contact{
    text-align: center;
    padding: 0;
    margin: 30px;
    
}

.contact-text{
    margin-top: 30px;
    
}

i{
    color: rgb(76, 76, 109);
}